NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
TEACHER_PORTAL_SYSTEM_EMAIL=
TEACHER_PORTAL_SYSTEM_PASSWORD=
NAS_WEBDAV_URL=
NAS_WEBDAV_USERNAME=
NAS_WEBDAV_PASSWORD=
NAS_WEBDAV_NAME=
NAS_WEBDAV_TARGETS=
